@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe
@using RecipeBox.Models
@using System.Collections.Generic;

<h2>Recipe Details</h2>
<hr>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.Ingredients): @Html.DisplayFor(model => model.Ingredients)</h3>
<h3>@Html.DisplayNameFor(model => model.Instructions): @Html.DisplayFor(model => model.Instructions)</h3>
<h3>@Html.DisplayNameFor(model => model.Rating): @Html.DisplayFor(model => model.Rating)</h3>

@if (@Model.JoinEntities.Count == 0)
{
  <h4>This recipe does not have any tags.</h4>
}
else
{
  <h4>This recipe contains the following tags:</h4>
  <ul>
    @foreach (RecipeTag join in Model.JoinEntities)
    {
      <li>@join.Tag.Category</li>
      @using (Html.BeginForm("DeleteJoin", "Recipes"))
      {
        @Html.Hidden("joinId", @join.RecipeTagId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}

<p>@Html.ActionLink("Add a tag to this recipe", "AddTag", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Rate this recipe", "RateRecipe", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Edit this recipe", "Edit", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Delete this recipe", "Delete", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Back to recipe list", "Index")</p>