@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe
@using RecipeBox.Models

<h4>Rate this recipe: @Html.DisplayFor(model => model.Name)</h4>
<h5>Rate this recipe from 1 to 10</h5>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RecipeId)
  @Html.HiddenFor(model => model.Name)
  @Html.HiddenFor(model => model.Ingredients)
  @Html.HiddenFor(model => model.Instructions)
  @Html.LabelFor(model => model.Rating)
  @Html.EditorFor(model => model.Rating, new { htmlAttributes = new { @type="number", @min="1", @max="10", @defaultValue="1"}})
  <input type="submit" class="btn btn-primary" value="Rate"/>
}
<br>
<p>@Html.ActionLink("Back to recipe list", "Index")</p>