@{
  Layout = "_Layout";
}

@using RecipeBox.Models;

<h1>Recipe Box</h1>

<h2>Keep track of your favorite recipes here!</h2>

<hr>

<h4>Recipes</h4>
@if (Model["recipes"].Length == 0)
{
  <p>No recipes have been added yet.</p>
}

<ul>
  @foreach (Recipe recipe in Model["recipes"])
  {
    <li>@Html.ActionLink(@recipe.Name, "Details", "Recipes", new { id = @recipe.RecipeId }) | Rating: @recipe.Rating</li>
  }
</ul>

<h4>Tags</h4>
@if (Model["tags"].Length == 0)
{
  <p>No tags have been added yet.</p>
}

<ul>
  @foreach (Tag tag in Model["tags"])
  {
    <li>@Html.ActionLink(@tag.Category, "Details", "Tags", new { id = @tag.TagId })</li>
  }
</ul>

<hr>

<p>@Html.ActionLink("Manage recipes", "Index", "Recipes")</p>
<p>@Html.ActionLink("Manage tags", "Index", "Tags")</p>
<p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p>