@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Tag
@using RecipeBox.Models

<h2>Add a recipe</h2>

<p><strong>Note: you must have at least one recipe in order to add it to a tag.</strong></p>
<p><strong>Go to @Html.ActionLink("this page", "Create", "Tags") to create a recipe.</strong></p>

<h4>Add a recipe to this tag: @Html.DisplayFor(model => model.Category)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TagId)
  @Html.Label("Select recipe")
  @Html.DropDownList("RecipeId")
  <input type="submit" class="btn btn-primary" value="Add"/>
}

<p>@Html.ActionLink("Back to tag list", "Index")</p>